.navbar{
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;

}
.navbar-img{
	align-self: center;
	width: 50%;
	height: 5em;
}
.navbar-iconMenuGral{
	width: 5%;
	height: 60%;
	align-self: center;
	cursor: pointer;

}
.navbar-userName{
	align-self: center;
	font-size: 1.5em;

}