.navbar{
	display: flex;
	justify-content:space-between;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;

}
.navbar-img{
	align-self: center;
	width: 40%;
}
.navbar-iconMenuGral{
	width: 5%;
	height: 60%;
	align-self: center;
	cursor: pointer;

}
.navbar-userName{
	align-self: center;
	font-size: 1.5em;

}