.menu-Option{
	display: flex;
	flex-direction: column;
	align-items: center;
}
button{
	background-color:#f3c51e;
	width: 50%;
	height: 60px;
	border-color: #f3c51e;
	border-radius: 10px;
	font-size: 2em;
  font-weight: bold;
  cursor:pointer;
	margin-top: 10px;
	background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 30px;

}
.btn-newOrder{
	background-image: url(./../../Assets/Icon/newOrder.png);
}
.btn-Order{
	background-image: url(./../../Assets/Icon/order.png);
}
.btn-Admin{
	background-image: url(./../../Assets/Icon/admin.png);
}
.btn-Out{
	background-image: url(./../../Assets/Icon/exit.png);
}